.dash-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    /* flex-wrap: wrap; */
    overflow-x: scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    /* width:auto; */
    background: rgb(243, 242, 242);
    padding: 5px 10px;
    justify-content: space-evenly;
}

.dash-card {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* gap: 2px; */
    width: 1000px;
    /* height:300px; */
}