.topheader {
    padding-left: 10px;
}

.displayButton {
    position: relative;
}

.displayButton button {
    color: black;
    padding: 10px;
    border-radius: 10%;
    border-color: white;

}
.V{
    font-weight: 900;
}
.headerButton{
    background-color: #f8f8fa;
    /* width: 100px; */
    height: 40px;
}
.selectGroup {
    font: bold;
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

.dropOnClick {
    display: flex;
    border:1px solid gainsboro;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    position: absolute;
    width: 250px;
    background-color: #f8f8fa;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 10;
}

.dropOnClick>* {
    width: 100%;
}

.btn {
    background: #f8f8fa;
    border: 1px solid silver;
    border-radius: 10px;
}

.selectStyle {
    width: 100px;
    border:1px solid gainsboro;
    border-radius: 5px;
    background: white;
    padding: 2px 5px;
}